<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
Google CDN
    <title>Control Escolar</title>
</head>
<body>
    <div data-role="page">
        <div data-role="header"  style="overflow:hidden;">
            <h1>Control Escolar</h1>
            <a href="#" data-icon="gear" class="ui-btn-right">Opciones</a>
            <div data-role="navbar">
                <ul>
                    <li><a href="#">Alumnos</a></li>
                    <li><a href="#">Docentes</a></li>
                    <li><a href="#">Aulas</a></li>
                </ul>
            </div>
            <h1>Busca alumnos</h1>  
        </div> 
        <div role="content" class="ui-content"> 
            <form action="/api/students/insert" method="POST">  
                <label for="txtStudentID">Matrícula:</label>
                <input type="number" name="student_id" id="txtStudentID" placeholder="Ingresa la matrícula aquí">
                <label for="txtName">Nombre:</label>
                <input type="text" name="name" id="txtName" placeholder="ingresa el nombre aquí">
                <label for="txtLastName">Apellido(s):</label>
                <input type="text" name="lastname" id="txtLastName" placeholder="Ingresa el apellido(s) aquí">
                <label for="txtGrade">Grado:</label>
                <input type="number" name="grade" id="txtGrade" placeholder="Ingresa el grado aquí">
                <label for="txtGroup">Grupo:</label>
                <input type="text" name="group" id="txtGroup" placeholder="Ingresa el grupo aquí">
                <label for="txtAverage">Promedio:</label>
                <input type="number" name="average" id="txtAverage" placeholder="Ingresa el promedio aquí">
                <button class="ui-btn ui-btn-inline">Guardar</button>
            </form>
            
            <ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar estudiantes" data-inset="true">
                <!--vamos a incrustar JavaScript a HTML con ejs para mandar a traer a los estudiantes en un forEach y todo lo que sea en javaScript va a ser dentro de <% %> -->
                <% students.forEach((student)=>{ %>
                    <div data-role="collapsible" data-content-theme="false">
                    <h4><%= student.name%></h4>
                    <p>Matricula: <%= student.student_id %></p>
                    <p>Nombre: <%= student.name %></p>
                    <p>Apellidos: <%= student.lastname%></p>
                    <p>Grupo <%= student.grade%></p>
                    <p>Grado <%= student.group%></p>
                    <p>Promedio <%= student.average%></p>
                    <a href="/api/students/getOne/<%= student.student_id %>" class="ui-btn ui-icon-edit ui-btn-icon-bottom">Editar</a>
                    <a href="/api/students/deleteOne/<%= student.student_id %>" class="ui-btn ui-icon-delete ui-btn-icon-bottom">Borrar</a>
                    </div>
                <% }) %>  
            </ul>
            
        </div>
        <div data-role="footer" style="overflow:hidden;">
            <h4 style="text-align: center;">Redes Sociales</h4>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="user">Facebook</a></li>
                    <li><a href="#" data-icon="heart">Instagram</a></li>
                    <li><a href="#" data-icon="mail">Gmail</a></li>
                </ul>
            </div>
            <p style="text-align:center;">©Copyright Diego Tecorralco</p>
        </div>
    </div>
</body>
</html>